<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
    <form method='get' action='/hello/greeting'>
        <input type='text' name='name'/>
        <select name='language'>
            <option value=''> Language </option>
            <option value='English'>English</option>
            <option value='Spanish'>Spanish</option>
            <option value='French'>French</option>
        </select>
        <input type='submit' value='Greet me!'>
    </form>
</body>
</html>